<!DOCTYPE html>
<html>
<head>
	<title>Budget Buddy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/sample.css">
</head>
<body>
<body>
	<h1>This is the landing page :)</h1>
	<%result.forEach(function(user){%>
		<p>Name: <%= user.firstName + " " + user.lastName %></p>
		<p>Email: <%= user.email%></p>
		<p>Current Budget: $<%= user['account'].currBudget%></p>
		<p><strong>Expenses: </strong><% for(var i= 0; i< user.expenses.length; i++){%></p>
			<p>Item: <%= user.expenses[i].item %></p>
			<p>Price: <%= user.expenses[i].price %></p>
			<p>Date of purchase: <%= user.expenses[i].dateOfPurchase %></p>
			<p>Category: <%= user.expenses[i].category %></p>
			<hr>
		 <%};%>
		<p><strong>Goals: </strong><%for(var i= 0; i< user.goals.length; i++){ %></p>
			<p>Description: <%= user.goals[i].description%></p>
			<p>Date: <%= user.goals[i].date%></p>
			<p>Amount: <%= user.goals[i].amount%></p>
			<hr>
		<%};%>
	<%});%>
	<script type="text/javascript" src="/js/sample.js"></script>
</body>
</body>
</html>